.data
minmax
minmax.old
README.html
makefiles/example/make_example
clucenters_*
cluprojs_*
drift2d_*
hist2d_*
alldih*
mle2_*
/trajs.png
#no_neighbor_dependence
*_noweights.dat
*_averages.eps
*_averages.pdf
*_averages.png
*_variances.eps
*_variances.pdf
*_variances.png
